<div class="wrapper">
  <div class="l-side-bar" *ngFor="let head of master.header">
    <div class="logo-section">
      <div class="img">L</div>
      <div class="title">
        <h4>{{head.logo}}</h4>
      </div>
    </div>
    <div class="navs">
      <ul>
        <li *ngFor="let links of head.navigation" class="nav-item" [routerLinkActive]="links.routelink"
          [routerLink]="links.route">
          <div class="icon">
            <i [class]="links.icon"></i><span class="bg-danger text-white">{{links.notify}}</span>
          </div>
          <div class="item"><a>{{links.title}}</a></div>
        </li>
      </ul>
    </div>
    <div class="upgrade">
      <div class="img">
        <img [src]="head.upgrade" alt="" />
      </div>
      <p>
        upgrade to <strong class="text-upper text-dark">pro</strong> for
        more resources
      </p>
      <button class="btn btn-primary">upgrade</button>
    </div>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>

  <div class="r-side-bar" *ngFor="let head of master.user">
    <div class="header">
      <h5>Logout</h5>
      <i class="bi bi-box-arrow-in-right light-text"></i>
    </div>
    <div class="user-detail">
      <div class="avatar">
        <img [src]="head.avatar" alt="">
      </div>
      <strong class="mt-4">{{head.username}}</strong>
      <span class="light-text">{{head.usertype}}</span>
    </div>
    <div class="feature" *ngFor="let feature of head.features">
      <div class="sub-head">
        <span>{{feature.title}}</span>
      </div>
      <div class="desc">
        <p>{{feature.sub}}</p>
        <span>{{feature.type}}</span>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
    </div>
    <div class="reminder mt-5">
      <div class="header">
        <h5>Reminders</h5>
        <i class="bi bi-bell light-text"></i>
      </div>
      <div class="card" *ngFor="let reminder of head.reminders">
        <div class="icon">
          <i [class]="reminder.status"></i>
        </div>
        <div class="desc">
          <p>{{reminder.title}}</p>
          <span>{{reminder.date}}, {{reminder.day}}</span>
        </div>
      </div>
    </div>
  </div>
</div>