@import url("../node_modules/font-awesome/css/font-awesome.css");
@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.css");
:root {
  --primary-color: #0d6efd;
  --primary-light: #c3dbff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.bg-primary-light {
  background: #8db5f2;
}
.bg-secondary-light {
  background: #8db5f245;
}
.bg-indigo {
  background: #6610f2b0;
}
.bg-gray-400 {
  background: #e9ecef;
}
.bg-danger-light {
  background: #dc35452b;
}
.light-text {
  color: #999;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: rgb(238 238 238 / 50%);
}
